[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2.17"
pillow = "*"
django-simple-history = "*"
django-qr-code = "*"
django-autocomplete-light = "*"
pdfkit = "*"
django-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
django-admin-autocomplete-filter = "*"
django-more-admin-filters = "*"
django-admin-rangefilter = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
